/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.spotylogo{
    width:10%
}
#div1{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    }
#cabecero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    }
#botones{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#Lcabecero{
    padding-top: 20%;
    text-align:center;
    color: white;
}
#Lsubcabecero{
    text-align: center;
    color: rgb(255, 255, 255);
}

#cajas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
}
.omg{
    width: 75px;
}
#L2cabecero{
    text-align:center;
    color: rgb(0, 0, 0);
}
#backgroundo{
    background-color:#00B172 ;
    display: flex;
    flex-direction: column;
}
#rowfight{
    display: flex;
    flex-direction: row;
}
#clown{
    display: flex;
    flex-direction: column;
}